@charset "UTF-8";

body {
	background-color: #AAA;
	margin: 0;
	font-family: Helvetica;
	font-size: 14px;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #CCC;
}

@font-face {
	font-family: cubeos;
	src: url('/font/cubeos.ttf');
}

.wrap {
	background-color: #666;
	color: #FFF;
	padding: 25px;
	font-size: 64px;
	text-align: center;
	text-shadow: 1px 1px 3px #000;
	font-family: cubeos;
	display: block;
}

.mids {
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	width: 50%;
}

.label {
	background-color: #333;
	color: #FFF;
	padding: 10px;
	font-size: 20px;
}

.content {
	padding: 10px;
	background-color: #FFF;

}

.logo {
	text-align: center;
	margin-top: 25px;
}

.sidebar {
	float: right;
	width: 10%;
	margin-top: 25px;
	margin-right: 10%;
}

.r {
	float: right;
}

.news, a.news {
	color: #FFF;
}

a.news:hover {
	color: #CCC;
}

.post_title {
	font-weight: bold;
	font-size: 16px;
}

.post_content {
	
}

table {
	width: 100%;
	border: 1px solid #CCC;
	text-align: left;
	background-color: #DDD;
}

td {
	background-color: #EEE;
}
